.bar-tap {
    background-image: url('https://pixabay.com/photos/bar-local-tap-beer-pub-brewery-4617528/');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin-top: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 50px;
}

.card-divider {
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seach-by-city {
    text-align: center;
    font-size: large;
    align-items: center;
}

.submit {
    border: 1px solid #fff;
    color: #fff;
    background-color: navy;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
}

.grid-x {
    border: solid 2px gray;
    border-radius: 50px;
    width: 45%;
    margin-top: 15px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.forecast-container {
    align-items: center; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.responable {
    font-size: 25px;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-top: 5px;
}

ul {
    font-size: 20px;
    font-weight: bold;
}

  
