/* No Margin or Padding on the HTML or body */
html, body {
    margin: 0;
    padding: 0;
  }

  /* Set Everything to Box Sizing */
  * {
    box-sizing: border-box;
  }

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin-top: 100px;
}

.day-card{
    border: solid 2px gray;
    border-radius: 5px;
    width: 45%;
    margin-top: 15px;
}


.forecast-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin-top: 50px;
    text-align: center;
    border: solid 2px gray;
    border-radius: 5px;
    height: auto;
    width: 35%;
    padding: 15px;
}


.card-width {
    width:100%;
}

/* * Resises Condition Icon */
.conditions-content {
    width:40px;
    display:inline;
}