/* No Margin or Padding on the HTML or body */
html, body {
    margin: 0;
    padding: 0;
  }

  /* Set Everything to Box Sizing */
  * {
    box-sizing: border-box;
  }

  h2 {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    line-height: 1.25em;
    margin-top:10px;
  }

p {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.15em
}

 .main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin-top: 100px;
}

.bar-image {
    background-image: url("images/bg-image-1440.png");
    background-color: #cccccc;
    height: 375px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    position: relative;
}

.card-divider{
    border-radius: 30px;
}
.my-card {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.search-container {
    margin:0 auto;
    padding: 60px 0 0;
    max-width: 450px;
    text-align:center;
}

.search-container h1 {
    color:#ffffff;
    text-align:center;
}


.seach-by-city {
    text-align: center;
    font-size: large;
    align-items: center;
}

.search-field {
    width: 60%;
    display: inline;
}


.submit {
    width:100%;
    font-weight:700;
    border-radius: 30px;
    color: #fff;
    background-color: #1779ba;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease .4s;
}


.day-card{
    border: solid 2px gray;
    border-radius: 5px;
    width: 45%;
    margin-top: 15px;
}


.forecast-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin-top: 50px;
    text-align: center;
    border: solid 2px gray;
    border-radius: 5px;
    height: auto;
    width: 35%;
    padding: 15px;
}

.hide{
    display: none;
}

.fore-btn-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
}

.back-to-fore{
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: navy;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 12%;
    padding: 1rem;
    transition: all ease .4s;
}

/* FORECAST CARDS */

.good-day {
    background-color:#0487D9;
    color:#ffffff;
}

.bad-day {
    background-color:#A69E8F;
    color:#ffffff;
}

.date {
    right: 20px;
    top: 10px;
}

.condition-info-good {
    background-color:#0358A1;
    border-radius: 0 0 20px 20px;
}

.condition-info-bad {
    background-color:#59554D;
    border-radius: 0 0 20px 20px;
}

.view-breweries {
    background-color:#ffffff;
    color:#0358A1;
}


/**********************/
/* Helper CSS Classes */
.margin-0 {
    margin: 0 0;
}

.marginT-20 {
    margin:20px 0 0;
}

.marginY-20 {
    margin:20px 0;
}

.marginX-5 {
    margin:0 5px;
}

.margin20 {
    margin:20px;
}

.margin5 {
    margin:5px;
}

.padding25 {
    padding: 20px;
}

.padding-y-15 {
    padding: 15px;
}

.padding-y-6 {
    padding-top:6px;
}

.padding-x-20 {
    padding: 0 20px;
}

.paddingB-20 {
    padding-bottom:20px;
}

.pos-relative {
    position:relative
}

.pos-absolute {
    position:absolute;
}

.y-align-top {
    vertical-align: top;
}

.y-align-center {
    vertical-align: center;
}

.fav-icon-pos {
    right: 16px;
    top: 10px;
}

/* Color change for Heart Icon */
.fas {
    color:#F23030;
}

.rounderCorners {
    border-radius: 20px
}

.bgGood {
    background-color:#1779ba;
    color:#ffffff;
}

.bgBad {
    background-color:#cc4b37;
    color: #ffffff;
}

.card-width {
    width:75%;
}

.condition-info-good ul {
    margin: 0 0;
}

.condition-info-good ul li {
    display: inline-block;
    padding: 0 15px;
    margin: 5px 0 0;
}

.condition-info-bad ul {
    margin: 0 0;
}

.condition-info-bad ul li {
    display: inline-block;
    padding: 0 15px;
    margin: 5px 0 0;
}

/* Removed arrow from data list dropdown */
input::-webkit-calendar-picker-indicator {
    display: none;
  }

/* * Resises Condition Icon */
.conditions-content {
    width:40px;
    display:inline;
}

/**********************/




#breweries{
    /* display: flex;
    align-items: center;
    flex-direction: column;
    flex:1; */
    width: 100%;
}

#breweries .container {
    max-width: 1200px;
    margin:0 auto;
}

#breweries .container .card {
    width: 40%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    min-height: 160px;
}

.brewery{
    text-align: center; 
    border: 1px solid gainsboro;
    width: 100%;
    margin-top: 25px; 
}

footer {
    /* position:fixed; */
    width:100%;
    bottom:0px;
    background-color: #1779ba;
    color: #ffffff;
    padding: 14px 25px 0px 25px;
    text-align: center;
    align-items: center;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #D8D8D8;
    transition: .5s;
}

footer p {
    font-size: .75em
}




/* ============================= */
/* Helper Media Queries */
/* ============================= */

@media screen and (max-width: 1024px) {
    .bar-image {
        background-image: url("images/bg-image-1024.png");
    }
    
    #breweries .container .card  {
        min-height: 240px;
    }


}
@media screen and (max-width: 768px) {
    #breweries .container .card  {
        width:95%;
        min-height:100px;
    }

    .bar-image {
        background-image: url("images/bg-image-768.png");
    }


}

@media screen and (max-width: 600px) {
    .bar-image {
        background-image: url("images/bg-image-600.png");
    }
}

@media screen and (max-width: 500px) {
    .bar-image {
        background-image: url("images/bg-image-500.png");
    }
}